<!doctype html>
<html ng-app="blogApp">
<meta charset="utf-8" />
<head>
    <title>Блог</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/blog.css">
    <script src="js/angular.min.js"></script>
    <script src="js/blog_controller.js"></script>
</head>

<body>
<div ng-controller="BlogController" style="margin-left: 20px; margin-top: 20px">
    <form name="blogForm">
        <fieldset>
            <label>
                <span>Заголовок</span><br>
                <input name="head" ng-model="article.head" required placeholder="Введите заголовок"/>
            </label>
            <div style="margin-top: 10px">
                <label>
                    <span>Текст</span><br>
                    <textarea name="text" ng-model="article.text" required placeholder="Введите текст" rows="10"></textarea>
                </label>
            </div>
        </fieldset>
        <p><button type="reset" ng-click="save(article)" onclick="document.getElementsByName('text').value='';">Опубликовать</button></p>
    </form>
    <ul>
        <li ng-repeat="publication in publications">
            <p>{{$index + 1}}. ({{publication.date | date: 'MMM d, y, HH:mm:ss'}}) Заголовок: {{publication.head}}</p>
            <p>Текст: {{publication.text}}</p>
        </li>
    </ul>
</div>
</body>
</html>
